
/* Common styles for all screen sizes */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-weight: 200;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align content to the left */
  padding: 20px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

nav {
  background: #333;
}

nav ul {
  list-style-type: none;
  color: aqua;
  text-align: center;
  padding: 5rem;
  text-decoration: none;
}

nav a:hover {
  background-color: rgba(228, 228, 228, 0.2);
}

nav li {
  display: inline;
  margin-right: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card label {
  margin-bottom: 5px;
}

.card input {
  width: 80%;
}

h3 {
  width: 200px;
  height: 10px;
  background-color: #F0E68C;
  padding: 15px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 35px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 100px;
}

h2 {
    text-align: center;
}

main {
	margin: 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	width: 760px;
	background-color: #eee;
	color: #000;
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
}

 /* Additional CSS styles for overlay and temple image */
 .hero {
  position: relative;
}

.temple-image {
  max-width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  text-align: center;
}

/* Additional CSS for the map */
#map {
  width: 100%;
  height: 400px;
}


/* Hide both labels by default */
.large-label {
  display: none;
}

 /* Show the mobile label for screens up to 400px wide */
 @media (max-width: 400px) {
  .large-label {
      display: none;
  }
  .mobile-label {
      display: block;
  }
}

/* Show the large label for screens between 401px and 960px wide */
@media (min-width: 401px) and (max-width: 960px) {
  .large-label {
      display: block;
  }
  .mobile-label {
      display: none;
  }
}
/* Media query for small screens (e.g., smartphones and tablets) */
@media screen and (max-width: 767px) {
    body {
      flex-direction: column; /* Make the entire page vertical */
    }
  
    header {
      flex-direction: column;
      text-align: center;
    }
  
    .profile-pic {
      margin: 0 auto;
      margin-bottom: 10px;
    }
  
    h1 {
      margin: 0;
    }
  
    nav ul {
      flex-direction: column; /* Make the navigation vertical */
      padding: 0;
    }
  
    nav a {
      padding: 10px 20px;
    }
  
    .card {
      flex-direction: column; /* Make the cards vertical */
      align-items: flex-start;
      padding: 20px;
    }
  
    .card label {
      margin-right: 0;
    }
  
    .card input {
      width: 100%;
    }
  }