/* Large Screen Styles */
@media (min-width: 768px) {
    nav ul {
        justify-content: flex-start;
    }

    main {
        display: flex;
        justify-content: space-between;
    }

    .information {
        order: 2;
    }

    /* Ensure learning activity and information sections span equally */
    .learning_activity,
    .information {
        flex: 1;
        margin: 0 1rem;
    }

    /* Move map section before footer in large view */
    .map-container {
        order: 3;
        width: 100%;
    }

    footer {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        order: 4;
    }

    .hero .overlay {
        font-size: 1rem;
    }
}

/* Hide small-screen text by default */
.overlay .small-screen {
    display: none;
}

/* Show appropriate text based on screen size */
@media (max-width: 640px) {

    /* Hide large-screen text on small screens */
    .overlay .large-screen {
        display: none;
    }

    /* Show small-screen text on small screens */
    .overlay .small-screen {
        display: block;
    }
}

@media (min-width: 961px) {
    .hero img {
        width: 100%;
        height: auto;
    }
}