/* Large Screen Styles */
@media (min-width: 768px) {
    nav ul {
        justify-content: flex-start;
    }

    main {
        justify-content: space-between;
    }

    .information {
        order: 2;
    }

    footer {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}